.card_inner {
    margin: 10px;
    height: 400px;
    text-align: center;
    background-color: #B9B9B9;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
