* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
  min-width: 100%;
  min-height: 100vh;
  padding-left: 80px;
  padding-top: 50px;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 50px;
}

@media all and (max-width: 600px) {
  section {
    padding-left: 0px;
    padding-right: 15px;
  }

  main {
    padding-left: 15px;
  }
}

a:hover {
  cursor: pointer;
}

.ActiveLink {
  background-color: #5940b8 !important;
}

.MuiDataGrid-footerContainer {
  justify-content: center !important;
  background: #ececec;
}

.MuiDataGrid-columnHeaders {
  text-align: center;
  background: #ececec;
}